html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  display: flex;
  width: 100%;
}
.container-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1 1 auto;
}
.leftAsaide {
  display: flex;
  width: 10%;
  order: 1;
  background-color: bisque;
}
.rightAsaide {
  display: flex;
  width: 10%;
  order: 3;
  background-color: bisque;
}
.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  order: 2;
}
.footer {
  bottom: 0;
  width: 100%;
  background-color: aqua;
}
.headerMain {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  background-color: aliceblue;
}
.level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  font-size: 2rem;
  font-weight: bold;
  background-color: cornflowerblue;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  min-width: 60px;
  height: 60px;
  margin: 10px;
  padding: 5px;
  color: gold;
  font-size: 2.7rem;
  font-weight: bold;
  border: 3px solid coral;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 85%;
}
.keyWordAll {
  display: flex;
  justify-content: center;
  width: 25vw;
  height: 95%;
  background-image: url(../img/whitenoutepade.jpg);
  background-size: 100% 100%;
}
li {
  font-size: 1.5rem;
  list-style-type: none;
}
.inputActionUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 95%;
}
.containerAction{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 40%;
  align-items: center;
  gap: 15px;
  padding: 15px 0 15px 0;
  justify-content: space-around;
}
#myInput {
  text-align: center;
  width: 100%;
  min-height: 50px;
  font-size: 1.25rem;
}
#myButton {
  width: 100px;
  height: 50px;
  border-radius: 25%;
}
#start{
  width: 100px;
  height: 50px;
  border-radius: 25%;
}
.valueWordAll {
  display: flex;
  justify-content: center;
  width: 25vw;
  height: 95%;
  background-image: url(../img/whitenoutepade2.jpg);
  background-size: 100% 100%;

}
.firstString{
 opacity: 0;
}
.correctAnswer{
  color: green;
}
.inCorrectAnswer{
  color: red;
}